*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        .right{
        width: 75%;}}}


.logo img{
        width: 40px;
        height: 40px;
    }

.bignav{
    padding: 60px;
    background-color: rgb(1, 188, 188);
    text-align: center;
    font-size: 20px;
    color: azure;
    border: 5px solid black;
}

.nav1{
    background-color: rgb(255, 255, 255);
    padding: 10px; 
    top: 0;
    position: sticky;
    opacity: 90%;
    font-weight: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    border: 1px solid#087087;}

.search{
    display: inline;
    width: 300px;
    height: 35px;
    border: 1px solid black;
    margin-left: 50px;
    margin-right: 400px;
}

.buttonnav1{
    padding: 4px; padding-left: 10px; margin-right: 10px;
    background-color: white;
    border: 2px solid #1B7C6A;
    border-radius: 10px;
    font-size: large
}
.buttonnav2{
    padding: 4px; padding-left: 10px;
    background-color: #28A49C;
    color: white;
    border-radius: 10px;
    border: 2px solid  #28A49C;
    font-size: large
}



.search input{
    background-color: rgb(233, 233, 233);
    border-radius: 6px;
    border: 1px solid rgb(68, 147, 118);
    padding: 8px;
    padding-right: 70px;
}

nav li{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    position: sticky;
}

nav a{
    font-size: 18px;
    font-weight: 50px;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-family: calibri;
    transition-delay: 0.4s;
    transition: .2s ease-in-out;
}

nav a:hover{
    background-color: #087087;
    padding: 20px;
    color: white;
    border-radius: 1px 1px 10px 10px;
}

nav a:active{
    background-color: #087087;
    padding: 30px;
    color: white;
    border-radius: 1px 1px 10px 10px;
}

main img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

main{
    margin-top: -2px;
}

h1,h2 {
    font-family: Calibri;
    font-weight: bold;
    font-size: 60px;
    color: violet;
    background-color: rgb(1, 188, 188);
    margin: 0px;
    color: gold;
    border-radius: 15px 15px 0px 0px;
}

footer{
    background-color: violet;
    color: white;
    padding: 10px;
    font-weight: 200px;
    border: 5px solid black;
    border-radius: 20px;
}

.container{
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
}

.right{
    width: 25%;
    float: right;
}

.left{
    text-align: center;
    width: 80%;
    float: left;
}

.catalogfeature{
    border: 1px solid rgb(26, 108, 99);
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
    height: 100px;
}

.catalog{
    border-bottom: 1px solid rgb(26, 108, 99);
    border-left: 1px solid rgb(26, 108, 99);
    border-right: 1px solid rgb(26, 108, 99);
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.cat1{
    border: 1px solid black;
    flex-direction: row;
}

.catalogchild{
    flex-direction: row;
    border: 1px solid black;
    width: 300px;
    margin: 20px;
    height: 300px;

}

.card{
    border: 5px solid black;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(255, 146, 113);
    margin-bottom: 15px;
}

.card1{
    border-bottom:  1px solid rgb(48, 111, 81);
    border-right:  1px solid rgb(48, 111, 81);
height: 300px;
    background-color: rgb(251, 251, 251);
}

#s1{
    background-color: #087087;
    margin: 0px;
    color: gold;
}

#side{
    background-color: #00c7dd;
    color: black;
    padding: 20px;
    border: 5px solid black;
    font-weight: bolder;
    border-radius: 5px;
    font-family: Calibri;
}


h6{
    color: black;
}
